:root {
  --c-background-50: #FFFFFF;
  --c-background-600: #4A4A4A;
  --c-background-700: #363636;
  --c-background-800: #2A2A2A;
  --c-background-900: #1C1C1C;
  --c-background-950: #000000;
  --c-border-700: #4A4A4A;
  --c-border-800: #363636;
  --c-content-100: #E5E5E5;
  --c-content-400: #A1A1A1;
  --c-content-50: #FFFFFF;
  --c-content-600: #6B7280;
  --c-content-950: #000000;
  --c-error-300: #FDA4AF;
  --c-error-500: #F43F5E;
  --c-error-950: #4C0519;
  --c-info-300: #7DD3FC;
  --c-info-500: #0EA5E9;
  --c-info-950: #082F49;
  --c-neutral-300: #D4D4D4;
  --c-neutral-500: #737373;
  --c-neutral-950: #404040;
  --c-primary-400: #A5B4FC;
  --c-primary-500: #6366F1;
  --c-primary-600: #4F46E5;
  --c-success-300: #86EFAC;
  --c-success-500: #22C55E;
  --c-success-950: #052E16;
  --c-warning-300: #FDE047;
  --c-warning-500: #EAB308;
  --c-warning-950: #422006;
  --fs-2xl: 24px;
  --fs-2xs: 8px;
  --fs-3xl: 30px;
  --fs-4xl: 36px;
  --fs-5xl: 48px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;
  --fs-xl: 20px;
  --fs-xs: 12px;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-semibold: 600;
  --lh-2xl: 36px;
  --lh-2xs: 12px;
  --lh-3xl: 40px;
  --lh-4xl: 48px;
  --lh-5xl: 56px;
  --lh-lg: 28px;
  --lh-md: 24px;
  --lh-sm: 20px;
  --lh-xl: 32px;
  --lh-xs: 16px;
  --r-2xl: 24px;
  --r-full: 999px;
  --r-lg: 12px;
  --r-md: 8px;
  --r-none: 0px;
  --r-sm: 4px;
  --r-xl: 16px;
  --s-2xl: 32px;
  --s-3xl: 48px;
  --s-4xl: 64px;
  --s-5xl: 96px;
  --s-6xl: 128px;
  --s-lg: 16px;
  --s-md: 12px;
  --s-sm: 8px;
  --s-xl: 24px;
  --s-xs: 4px;
}

@theme static inline {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --color-background-50: var(--c-background-50);
  --color-background-600: var(--c-background-600);
  --color-background-700: var(--c-background-700);
  --color-background-800: var(--c-background-800);
  --color-background-900: var(--c-background-900);
  --color-background-950: var(--c-background-950);
  --color-border-700: var(--c-border-700);
  --color-border-800: var(--c-border-800);
  --color-content-100: var(--c-content-100);
  --color-content-400: var(--c-content-400);
  --color-content-50: var(--c-content-50);
  --color-content-600: var(--c-content-600);
  --color-content-950: var(--c-content-950);
  --color-error-300: var(--c-error-300);
  --color-error-500: var(--c-error-500);
  --color-error-950: var(--c-error-950);
  --color-info-300: var(--c-info-300);
  --color-info-500: var(--c-info-500);
  --color-info-950: var(--c-info-950);
  --color-neutral-300: var(--c-neutral-300);
  --color-neutral-500: var(--c-neutral-500);
  --color-neutral-950: var(--c-neutral-950);
  --color-primary-400: var(--c-primary-400);
  --color-primary-500: var(--c-primary-500);
  --color-primary-600: var(--c-primary-600);
  --color-success-300: var(--c-success-300);
  --color-success-500: var(--c-success-500);
  --color-success-950: var(--c-success-950);
  --color-warning-300: var(--c-warning-300);
  --color-warning-500: var(--c-warning-500);
  --color-warning-950: var(--c-warning-950);
  --text-2xl: var(--fs-2xl);
  --text-2xs: var(--fs-2xs);
  --text-3xl: var(--fs-3xl);
  --text-4xl: var(--fs-4xl);
  --text-5xl: var(--fs-5xl);
  --text-lg: var(--fs-lg);
  --text-md: var(--fs-md);
  --text-sm: var(--fs-sm);
  --text-xl: var(--fs-xl);
  --text-xs: var(--fs-xs);
  --font-weight-bold: var(--fw-bold);
  --font-weight-medium: var(--fw-medium);
  --font-weight-regular: var(--fw-regular);
  --font-weight-semibold: var(--fw-semibold);
  --leading-2xl: var(--lh-2xl);
  --leading-2xs: var(--lh-2xs);
  --leading-3xl: var(--lh-3xl);
  --leading-4xl: var(--lh-4xl);
  --leading-5xl: var(--lh-5xl);
  --leading-lg: var(--lh-lg);
  --leading-md: var(--lh-md);
  --leading-sm: var(--lh-sm);
  --leading-xl: var(--lh-xl);
  --leading-xs: var(--lh-xs);
  --radius-2xl: var(--r-2xl);
  --radius-full: var(--r-full);
  --radius-lg: var(--r-lg);
  --radius-md: var(--r-md);
  --radius-none: var(--r-none);
  --radius-sm: var(--r-sm);
  --radius-xl: var(--r-xl);
  --spacing-2xl: var(--s-2xl);
  --spacing-3xl: var(--s-3xl);
  --spacing-4xl: var(--s-4xl);
  --spacing-5xl: var(--s-5xl);
  --spacing-6xl: var(--s-6xl);
  --spacing-lg: var(--s-lg);
  --spacing-md: var(--s-md);
  --spacing-sm: var(--s-sm);
  --spacing-xl: var(--s-xl);
  --spacing-xs: var(--s-xs);
}
